/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
	
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1170px) {
	.nav__link {
		margin: 0 15px;
	}
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.btn-toggle {
		display: block;
	}
	.nav, .header__right {
		display: none;
	}
	.gamburger {
		display: block;
	}
	.about-info {
		width: 55%;
		padding: 50px 80px;
	}
	.about-info__title {
		font-size: 22px;
	}
	.about-info__description {
		font-size: 14px;
	}
	.portfolio-item {
		flex-basis: 49%;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	.portfolio-item:nth-child(3n) {
		margin-right: 2%;
	}
	.portfolio-item:nth-child(2n) {
		margin-right: 0;
	}
	.tabs__item {
		flex: 1 1 auto;
	}
	.services .container {
		padding: 0;
	}
	.services__wrap, .skills__wrap {
		flex-wrap: wrap;
	}
	.service-block {
		width: 50%;
		height: 600px;
		max-width: none;
	}
	.service-block:first-child {
		border-right: 4px solid #bbb;
	}
	.service-block:nth-child(3) {
		border-top: 4px solid #bbb;
	}
	.service-block:nth-child(3) {
		width: 100%;
		height: 400px;
	}
	.service-list__item {
		padding: 8px 0;
		line-height: 1.5;
	}
	.skills__block {
		flex-basis: 49%;
		margin-right: 2%;
	}
	.skills__block:nth-child(2) {
		margin-right: 0;
	}
	.skills__block:nth-child(3) {
		flex-basis: 100%;
		margin-top: 20px;
	}
	.footer__wrap {
		flex-wrap: wrap;
	}
	.footer__col {
		width: 50%;
		margin-bottom: 40px;
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 581px) and (max-width: 767px) {
	.btn-toggle {
		display: block;
	}
	.nav, .header__right {
		display: none;
	}
	.header-nav__link {
		font-size: 35px;
	}
	.about-info {
		width: auto;
		padding: 50px 80px;
	}
	.about-info__title {
		font-size: 22px;
	}
	.about-info__description {
		font-size: 14px;
	}
	.portfolio-item {
		flex-basis: 100%;
		margin-bottom: 20px;
	}
	.portfolio-item:nth-child(3n) {
		margin-right: 2%;
	}
	.portfolio-item:nth-child(2n) {
		margin-right: 0;
	}
	.tabs {
		flex-wrap: wrap;
	}
	.tabs__item {
		flex: 1 1 50%;
	}
	.services .container {
		padding: 0;
	}
	.services__wrap, .skills__wrap {
		flex-wrap: wrap;
	}
	.service-block {
		width: 100%;
		max-width: none;
		justify-content: flex-start;
		border-bottom: 4px solid #fedb37;
	}
	.service-block:last-child {
		border-bottom: 0;
	}
	/* .service-block:nth-child(3) {
		width: 100%;
		height: 400px;
	} */
	.service-list__item {
		padding: 8px 0;
		font-size: 25px;
		text-transform: uppercase;
		line-height: 1.5;
	}
	.skills__block {
		flex-basis: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.skills__block:nth-child(2) {
		margin-right: 0;
	}
	.footer__wrap {
		flex-wrap: wrap;
	}
	.footer__col {
		width: 50%;
		margin-bottom: 40px;
	}
}

/* Landscape phones and smaller */
@media screen and (max-width: 580px) {
	.btn-toggle {
		display: block;
	}
	.nav, .header__right {
		display: none;
	}
	.header__panel {
		min-width: auto;
		width: 90%;
		padding-top: 90px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.header-nav__link {
		padding: 10px 0;
	}
	.about-info {
		width: auto;
		padding: 50px 20px;
	}
	.about-info__title {
		font-size: 22px;
	}
	.about-info__description {
		font-size: 14px;
	}
	.portfolio-item {
		flex-basis: 100%;
		margin-bottom: 20px;
	}
	.portfolio-item:nth-child(3n) {
		margin-right: 2%;
	}
	.portfolio-item:nth-child(2n) {
		margin-right: 0;
	}
	.tabs {
		flex-wrap: wrap;
	}
	.tabs__item {
		flex: 1 1 100%;
	}
	.portfolio-list__item {
		font-size: 12px;
	}
	.services .container {
		padding: 0;
	}
	.services__wrap, .skills__wrap {
		flex-wrap: wrap;
	}
	.service-block__overlay {
		background: rgba(0,0,0,.8);
	}
	.service-block {
		width: 100%;
		height: 600px;
		max-width: none;
		justify-content: flex-start;
		border-bottom: 4px solid #fedb37;
	}
	.service-block:last-child {
		border-bottom: 0;
	}
	/* .service-block:nth-child(3) {
		width: 100%;
		height: 400px;
	} */
	.service-list__item {
		padding: 8px 0;
		font-size: 16px;
		text-transform: uppercase;
		line-height: 1.5;
	}
	.skills__block {
		flex-basis: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.skills__block:nth-child(2) {
		margin-right: 0;
	}
	.footer__wrap {
		flex-wrap: wrap;
	}
	.footer__col {
		width: 100%;
		margin-bottom: 20px;
	}
	.footer__col:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 375px) {
	.logo__title {
		font-size: 9px;
	}
	.logo__slogan {
		font-size: 25px;
	}
	.header__panel .logo__slogan {
		font-size: 35px;
	}
	.header-nav__link {
		font-size: 30px;
	}
	.service-list__item {
		padding: 6px 0;
		font-size: 14px;
	}
	.info-block {
		padding: 20px;
	}
	.info-block__item {
		font-size: 14px;
	}